/* Write your CSS code here */
.header-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
.list {
  font-size: 12px;
  text-decoration: underline;
  padding-left: 6px;
  color: blue;
  font-family: Roboto;
}
